body{
    background-image: url(imagenes/anadir.jpg);
    background-size: cover;    
    overflow-x: hidden;
}

#anadir-btn{
    float: right;
    transition: 150ms;
}

#anadir-btn:hover{
    transform: scale(1.1,1.1);
}

#total{
    backdrop-filter: blur(8px);
}
