body{
    background-image: url(imagenes/anadir.jpg);
    background-size: cover;    
    overflow-x: hidden;
    min-height: 100vh;
    backdrop-filter: blur(8px);

}

#anadir-btn{
    float: righasdt;
    transition: 150ms;
}

#anadir-btn:hover{
    transform: scale(1.1,1.1);
}

#btn-volver{
    position: absolute;
}

#total{
    background-color: rgba(0, 0, 0, 0.8);
}